#Aliases

#ls
alias ll='ls -alFh'
alias la='ls -A'

#File manipulations
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
alias rmr='rm -r -i'

#Process manipulations
alias psall='ps -elf'
alias psuser='ps -ax -j'

#GUI Applications
alias firefox='/Applications/Firefox.app/Contents/MacOS/firefox-bin -ProfileManager -no-remote'

#MacPorts installed applications
alias td='/opt/local/bin/twistd-2.7'

