export EDITOR=vim
export PATH=/usr/local/bin:/usr/local/sbin:/usr/local/heroku/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/X11/bin

#CLI Colors
export CLICOLOR=1
#Change the dark blue to something better
export LSCOLORS=gxfxcxdxbxegedabagacad
