[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	pullom = pull origin master
	pushom = push origin master
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	incoming = log HEAD..origin
	outgoing = log origin..HEAD
[color]
	ui = true
[user]
	name = Locker537
	email = locker537@gmail.com
[url "git@github.com:"]
	insteadOf = git://github.com/
